
  <div class="row-fluid">
  	<div class = "span10 offset1">

  		<div class="row-fluid">

  			<div class="span6 offset3 center well" id = "me_well">
  				<p style="font-size: 1.2em;">You </p><p>(1SG Gwenevere)</p>
  			</div>
  			<div class="span12 center">

          <p><h3><%=  @last_msg[ :content] %></h3></p>

          <p> Acknowleged?</p>
  				<div class="btn-group" data-toggle="buttons-checkbox">
				  <button type="button" class="btn btn-danger">1PLT-Barnes</button>
				  <button type="button" class="btn btn-danger">2PLT-Elias</button>
				  <button type="button" class="btn btn-danger">3PLT-Dawes</button>
				  
				</div>
        <p> Click to RESEND </p>
  			</div>
  			<div class="span12 center" style="margin: 5px;">
            <h4> Most Recent Comms</h4>
           <table class = "table table-striped table-bordered">
<tr>
  <td>Formation cancelled </td> <td>
  10/31/2012</td> <td>
  <a class="btn-mini btn btn-info"> Details </a> </td>
</tr>

<tr>
   <td>Sir, you can't say that to the Joes</td> <td>
  10/31/2012</td> <td>
  <a class="btn-mini btn btn-info"> Details </a> </td>
</tr>

<tr>
   <td>Come to my office immediately</td> <td>
  10/31/2012</td> <td>
  <a class="btn-mini btn btn-info"> Details </a> </td>
</tr>

<tr>
   <td>Weapons cleaning until 1930 - no exceptions </td> <td>
  10/31/2012</td> <td>
  <a class="btn-mini btn btn-info"> Details </a> </td>
</tr>

<tr>
   <td>Front-leaning rest position NOW.</td> <td>
  10/31/2012</td> <td>
  <a class="btn-mini btn btn-info"> Details </a> </td>
</tr>
</table>
  				
  			</div>

  		</div>



    
</div>

<script type="text/javascript">
$(document).ready( function(){
	$('#templatez').change(function(){
		if ($('#templatez :selected').val() == "f"){ 
				$('#msgtext').val('Formation @ the drill pad at the following time: ');
		};
	});




});
</script>

      
    
  </div>  
	